@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Inter", sans-serif;
	}

	body {
		@apply bg-background;
	}
}

@layer components {
	.icons {
		@apply inline-block rounded-full border-2 p-2 text-slate-600 transition-all hover:border-lime-500 hover:bg-lime-500 hover:text-slate-100 hover:shadow-lg;
	}

	.container-padding {
		@apply mx-auto px-5 lg:px-6 xl:px-8;
	}

	.hamburger-line {
		@apply block h-[3px] w-[26px] rounded-full bg-slate-600 transition-all duration-300 ease-in-out;
	}

	.card {
		@apply h-64 w-96 cursor-pointer overflow-hidden rounded-xl bg-[#F2F8FC] shadow-lg transition-all duration-300 hover:bg-lime-500 hover:shadow-xl md:w-72 xl:w-80;
	}

	.blur-components {
		@apply bg-[rgb(242,248,252,.7)];
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
	}
}

.hamburger-active > span:nth-child(1) {
	@apply origin-top-left rotate-45;
}
.hamburger-active > span:nth-child(2) {
	@apply scale-0;
	transform-origin: 100% 50%;
}
.hamburger-active > span:nth-child(3) {
	@apply origin-bottom-left -rotate-45;
}

.nav-active {
	@apply translate-y-0 opacity-100;
}

.layer-active {
	@apply bottom-0 opacity-50;
}
